{% extends 'base.html.twig' %}

{% block title %}New Magasin{% endblock %}

{% block body %}
    <h1>Ajout Magasin</h1>

    {{ include('magasin/_form.html.twig') }}

    <a href="{{ path('app_magasin_index') }}">retour à la liste</a>
{% endblock %}
